[submodule "src/3rd_party/eigen"]
	path = src/3rd_party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "src/3rd_party/GlobalMatch"]
	path = src/3rd_party/GlobalMatch
	url = git@github.com:DamienGilliard/GlobalMatch.git
